code1/pipeline/BlobToDBDynamicCopy.json
{
	"name": "BlobToDBDynamicCopy",
	"properties": {
		"activities": [
			{
				"name": "getFiletoLoad",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BlobFileDirectoryDynamic",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemType",
						"itemName",
						"exists",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getFiletoLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getFiletoLoad').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LookupTableToLoad",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[getTableToLoad]",
									"storedProcedureParameters": {
										"SourceFileName": {
											"type": "String",
											"value": {
												"value": "@{item().name}",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQLDBDynamictablePickup",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LoaddynamicData",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LookupTableToLoad",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "BlobFileDirectoryDynamic",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlDBLoad",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{activity('LookupTableToLoad').output.firstRow.TableName}",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@{activity('LookupTableToLoad').output.firstRow.SchemaName}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "SendEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEachFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-12.northeurope.logic.azure.com:443/workflows/31518f2797db400e9f61114f916e8b98/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=7Xlk0g4GwTnbbheOw7cMdaviyPwtaBGQMLTzIAtp5u8",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Pipeine Finished Successfully\",\n    \"message\": \"Successful\",\n    \"color\": \"Green\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-09-24T15:32:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}